#otp-body{
    display: grid;
    place-content: center;
    background: #dde6ed;
}
#otp{
    display: flex;
    gap: 20px;
    border: none; 
    background:whitesmoke;
    flex-direction: column;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    border-radius: 12px;
    height: 400px;
    width: 500px;
    margin-top: 60px;
}
#otp-input{
    position: relative;
    width: 250px;
}
.otp-verify{
    color: #dde6ed;
    background: #27374d;
    width: 110px;
    height: 40px;
    margin: auto;
}
.otp-verify:hover{
    transform: scale(1.1);
    color: #dde6ed;
    background-color: #27374d;
}
.otp-head{
    font-size: 24px;
    font-weight: 600;
    color: #27374d;
}
.otp-content{
    color: #27374d;
}
.otp-resendtime{
    color: #27374d;
}
.otp-resend{
    color: #27374d;
}